/*{*/
/*    font-family: 'Abril Fatface', serif;*/
/*    font-family: 'Alkatra', system-ui;*/
/*    font-family: 'Grandstander', cursive;*/
/*}*/

@import "footer.css";

:root {
    --pink: #540162;
    --pink-ligth: #650077;
    --blue-mid: rgba(84, 1, 98, 0.5);
    --blue: #2673cb;
    --light: #ECF4FF;
    --gray: rgba(255, 255, 255, 0.1);
    --dark: #1e1b38;
    --shadow: rgba(0, 0, 0, 0.5);
    --background: rgba(246, 244, 241, 0.76);
}

.typed-cursor {
    color: var(--dark);
    font-weight: 900;
}

#main-content {
    display: none;
}

.preloader {
    font-family: 'Abril Fatface', serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 white;
}

.annonce {
    align-content: center;
    justify-content: center;
    vertical-align: center;
}

*{
    /*font-family: 'Roboto', sans-serif;*/
    /*background: rgba(246, 244, 241, 0.76);*/
}

nav, main {
    background: rgba(246, 244, 241, 0.76);
}

nav * {
    font-family: 'Abril Fatface', serif;
}

main {
    font-family: 'Roboto', sans-serif;
}

.text-primary {
    color: var(--pink);
}

.flashy-title {
    color: var(--pink);
}

.flashy-title:hover {
    transition: 0.3s ease-in-out;
    color: var(--pink-ligth);
}

.navbar-light .navbar-nav .nav-link {
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--pink);
}

.side-nav-indicator {
    font-family: 'Grandstander', cursive;
    list-style: decimal-leading-zero;
    position: fixed;
    top:25%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--dark);
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
}

.side-nav-indicator:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--pink);
    top: -25px;
    border-radius: 2px;
    left: calc(50% + 1px);
}

.side-nav-indicator li {
    cursor: pointer;
    font-weight: 500;
}

.side-nav-indicator li::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--pink);
    background-color: var(--light);
    margin-top: 4px;
    left: calc(50%);
}

.btn {
    font-size: 1.35em;
    margin-right: 25px;
    font-weight: 500;
    transition: 1s ease-in-out;
    border-radius: 25px;
}

.btn-large {
    width: 320px;
    height: 48px;
}

.btn-medium {
    width: 160px;
    height: 48px;
}

.btn-outline-light{
    border-color: var(--pink);
    background-color: transparent;
    color: var(--pink);
}

.btn-outline-light:hover{
    color: whitesmoke;
    background-color: var(--pink);
    border-color: whitesmoke;
}

.wrapper{
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.cols{
    width: 70%;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--dark);
}

.topline:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 45px;
    bottom: 10px;
    background-color: var(--pink);
}

.wrapper h1
{
    display: block;
    font-size: 7em;
    font-weight: 900;
}

.multi-text{
    color: var(--pink);
    text-transform: capitalize;
}

.wrapper p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: var(--dark);
}

.img-box {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.img-box img{
    position: relative;
    width: 360px;
    height: 640px;
    top: -100px;
    right: -10px;
    animation: animate-p 4s linear infinite;
}

@keyframes animate-p {
    50%{
        right: -30px;
        top: -90px;
    }
}


.timeline-items{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--dark);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 60px);
}

.timeline-dot{
    width: 1px;
    height: 46px;
    background-color: var(--pink);
    position: absolute;
    left: calc(50% - 2px);
    border-radius: 50%;
    top:10%
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: var(--dark);
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: var(--gray);
    backdrop-filter: blur(20px);
    border: 1px solid var(--gray);
    padding: 30px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 2px 2px 2px var(--dark);
}

.timeline-content:hover{
    transform: scale(1.05);
}

.timeline-content h3{
    font-size: 20px;
    color: var(--dark);
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 700;
    background-color: transparent;
}

.timeline-content p{
    color: var(--dark);
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
}

.timeline-content b{
    color: black;
    font-weight: bold;
    opacity: 0.9;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
}


.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 0;
}

.card-container .card-item{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 10px 10px 25px var(--shadow);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--shadow);
    border-left: 1px solid var(--shadow);
    backdrop-filter: blur(2px);
}

.card-container .card-item:hover{
    box-shadow: 20px 20px 50px var(--shadow);
}

.card-container .card-item .content{
    padding: 20px;
    text-align: center;
    transform: translateY(10px);
    opacity: 1;
    transition: 0.8s;
}

/*.card-container .card-item:hover .content{*/
/*    transform: translateY(0);*/
/*    opacity: 1;*/
/*}*/

.card-container .card-item .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: var(--blue-mid);
    background: none;
    pointer-events: none;
}

.card-container .card-item .content h3{
    font-size: 1.8rem;
    color: black;
    z-index: 1;
}

.card-container .card-item .content p{
    font-size: 1rem;
    color: black;
    font-weight: 300;
}

.card-container .card-item .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: var(--background);
    color: var(--pink);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.8s ease-in-out;
}

.card-container .card-item .content a:hover{
    background: var(--pink);
    color: var( --background);
}

@media(max-width: 767px) {
    .timeline-item::before{
        left: 7px;
    }

    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .timeline-dot{
        left: 0;
    }
}