/*{*/
/*    font-family: 'Abril Fatface', serif;*/
/*    font-family: 'Alkatra', system-ui;*/
/*    font-family: 'Grandstander', cursive;*/
/*}*/

:root {
    --pink: #540162;
    --pink-ligth: #650077;
    --blue: #2673cb;
    --light: #ECF4FF;
    --dark: #1e1b38;
    --shadow: rgba(0, 0, 0, 0.5);
}

.typed-cursor {
    color: var(--dark);
    font-weight: 900;
}

*{
    font-family: 'Roboto', sans-serif;
    background: rgba(246, 244, 241, 0.76);
}

nav *{
    font-family: 'Abril Fatface', serif;
}

.flashy-title{
    color: var(--pink);
}

.flashy-title:hover{
    transition: 0.3s ease-in-out;
    color: var(--pink-ligth);
}

.navbar-light .navbar-nav .nav-link {
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

.btn {
    margin-right: 25px;
    font-weight: 500;
    transition: 1s ease-in-out;
    border-radius: 10px;
}

.btn-outline-light{
    border-color: var(--dark);
    background-color: transparent;
    color: var(--pink);
}

.btn-outline-light:hover{
    color: var(--light);
    background-color: var(--dark);
}

.wrapper{
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.cols{
    width: 50%;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--dark);
}

.topline:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 45px;
    bottom: 10px;
    background-color: var(--pink);
}

.wrapper h1
{
    display: block;
    font-size: 7em;
    font-weight: 900;
}

.multi-text{
    color: var(--pink);
    text-transform: capitalize;
}

.wrapper p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: var(--dark);
}

.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.card-container .card-item{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px var(--shadow);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--shadow);
    border-left: 1px solid var(--shadow);
    backdrop-filter: blur(5px);
}

.card-container .card-item .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.8s;
}

.card-container .card-item:hover .content{
    transform: translateY(0);
    opacity: 1;
}

.card-container .card-item .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(115, 26, 35, 0.5);
    background: none;
    pointer-events: none;
}

.card-container .card-item .content h3{
    font-size: 1.8rem;
    color: black;
    z-index: 1;
}

.card-container .card-item .content p{
    font-size: 1rem;
    color: black;
    font-weight: 300;
}

.card-container .card-item .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: black;
    color: rebeccapurple;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}